.singleMealCtn {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  background-color: whitesmoke;
}

.button{
  width: 50%;
  background-color: cadetblue;
  border: 1px solid black;
  border-radius: 5px;
}